%h1.head Login

= form_for :session, html: {class: 'form-horizontal'}, url: login_path do |f|
  .form-group
    = f.label :email, class: 'control-label col-md-2'
    .col-md-10
      = f.text_field :email, class: 'form-control', placeholder: "Enter email"
  .form-group
    = f.label :password, class: 'control-label col-md-2'
    .col-md-10
      = f.password_field :password, class: 'form-control', autocomlete: 'off'
  .form-group
    .col-md-10.col-md-offset-2
      = f.submit "Log in", class: 'btn btn-default'
