.article-list
  - obj.each do |article|
    .well
      = link_to article.title, article_path(article), class: "article-list-title"
      .article-body
        = truncate article.description, length: 30;
        .user-info
          %small
            Created by: 
            = article.user.username if article.user
            = time_ago_in_words(article.created_at)
            ago
      .article-categories
        - if article.categories.any?
          %p
            Categories: 
            = render article.categories
      .article-actions
        - if logged_in? && (article.user == current_user || current_user.admin? )
          = link_to "Edit", edit_article_path(article), class: "btn btn-warning btn-xs"
          = link_to "Delete", article_path(article), method: :delete, data: {confirm: "Are You Sure?"}, class: "btn btn-danger btn-xs"