= render 'shared/errors', obj: @article

= form_for @article, html: {class: 'form-horizontal'} do |f|
  .form-group
    = f.label :title, class: 'control-label col-md-2'
    .col-md-10
      = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :description, class: 'control-label col-md-2'
    .col-md-10
      = f.text_area :description, class: 'form-control'
  .form-group
    .col-md-10.col-md-offset-2
      = f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb|
        = cb.label( class: "checkbox-inline input_checkbox"){ cb.check_box + cb.text}
  .form-group
    .col-md-10.col-md-offset-2
      = f.submit class: 'btn btn-default'
