.head Listing articles
= link_to "Create new article", new_article_path, class: "btn btn-success btn-xs"
%div{align: "center"}
	= will_paginate
= render 'articles', obj: @articles
%div{align: "center"}
	= will_paginate