.well
  .article-title 
    = @article.title
    - if @article.user
      .row
        .col-md-4
          = link_to gravatar_for(@article.user), user_path(@article.user)
          .article-title
            = link_to @article.user.username, user_path(@article.user)
 
  .article-description 
    = @article.description
  .article-categories
    - if @article.categories.any?
      %p 
        Categories: 
        = render @article.categories
  .article-actions
    = link_to "List articles", articles_path, class: "btn btn-primary btn-xs"
    - if logged_in? && (@article.user == current_user || current_user.admin?)
      = link_to "Edit", edit_article_path(@article), class: "btn btn-warning btn-xs"
      = link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Are You Sure?"}, class: "btn btn-danger btn-xs"
