= render 'shared/errors', obj: @user

= form_for @user, html: {class: 'form-horizontal'} do |f|
  .form-group
    = f.label :username, class: 'control-label col-md-2'
    .col-md-10
      = f.text_field :username, class: 'form-control', placeholder: "Enter username"
  .form-group
    = f.label :email, class: 'control-label col-md-2'
    .col-md-10
      = f.email_field :email, class: 'form-control', placeholder: "Enter email"
  .form-group
    = f.label :password, class: 'control-label col-md-2'
    .col-md-10
      = f.password_field :password, class: 'form-control', placeholder: "Enter password"
  .form-group
    .col-md-10.col-md-offset-2
      = f.submit class: 'btn btn-default'