.h1 Listing users
%div{ align: "center" }
  = will_paginate
- @users.each do |user|
  .row
    .well.col-md-4.col-md-offset-4.center
      = link_to gravatar_for(user), user_path(user)
      .article-title
        = link_to user.username, user_path(user)
      %small
        User has 
        = pluralize(user.articles.length, 'articles') if user.articles
        articles
      - if logged_in? && current_user.admin?  
        = link_to "Delete this user", user_path(user) , method: :delete, data: { confirm: "Are you sure?" }
%div{ align: "center" }
  = will_paginate        
