.head.center 
  Welcome to 
  = @user.username
  page
.row.center  
  = gravatar_for @user, options = { size: 150 }
%div{align: "center"}
  = will_paginate @user_articles         
= render 'articles/articles', obj: @user_articles
%div{align: "center"}
  = will_paginate @user_articles
