- if obj.errors.any?
  .alert.col-md-offset-2.col-md-10.alert-danger{:role => "alert"}
    .alert-title
      %h2.panel-title
        Following 
        = pluralize(obj.errors.full_messages.length, 'error')
    %ul
      - obj.errors.full_messages.each do |msg|
        %li
          = msg