@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
	float: left;
	font-size: 1.7em;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: -1px;
}

#logo:hover {
	text-decoration: none;
}

.center {
	text-align: center;
}

.jumbotron {
	background-image: asset-url('jumbo.png');
	background-size: cover;
	height: 550px;

	h1 {
		color: #e0e0e0;
		text-transform: uppercase;
		letter-spacing: -1;
		font-weight: bold;
		margin-bottom: 30px;
	}
}

footer {
	border-top: 1px solid #eaeaea;
	margin-top: 45px;
	small {
		float: left;
		a:hover {
			text-decoration: none;
		}
	}	
	li {
		float: right;
		list-style: none;
	}
}

.alert {
	.alert-title {
		padding-bottom: 15px;
		font-weight: bold;
	}
}

.article-title {
	font-size: 1.7em;
	font-weight: bold;
	border-bottom: 1px solid #eaeaea;
	margin-bottom: 20px;
}

.article-description {
	margin-bottom: 20px;
}

.article-categories {
	span.badge {
		background-color: #e0e0e0;
		text-transform: uppercase;
		letter-spacing: -1px;
		a {
			text-decoration: none;
		}

	}
}

.article-actions {
	padding-top: 10px;
	border-top: 1px solid #eaeaea;
}

.head {
	font-size: 1.7em;
	font-weight: bold;
	border-bottom: 1px solid #eaeaea;
	margin-bottom: 25px;
}

.article-list {
	margin-top: 15px;
	.article-list-title {
		color: #525252;
		font-size: 1.2em;
		font-weight: bold;
	}
	.article-list-title:hover {
		text-decoration: none;
	}
	.article-body {
		margin-bottom: 15px;
	}
}

.user-info {
	margin-top: 15px;
}