= render 'shared/errors', obj: @category

= form_for @category, html: {class: 'form-horizontal'} do |f|
  .form-group
    = f.label :name, class: 'control-label col-md-2'
    .col-md-10
      = f.text_field :name, class: 'form-control'
  .form-group
    .col-md-10.col-md-offset-2
      = f.submit class: 'btn btn-default'