.head Listing categories
%div{ align: "center" }
  = will_paginate
  - @categories.each do |category|
    %ul.article-list.list-unstyled
      .row 
        .well.col-md-4.col-md-offset-4
          %li.article-title
            = link_to category.name, category_path(category)
          %li
            = pluralize( category.articles.count, "article" )  
  = will_paginate 