.article-title
  Category: 
  = @category.name
- if logged_in? && current_user.admin?  
  = link_to "Edit category", edit_category_path(@category), class: "btn btn-info btn-xs"
%div{ align: "center" }
  = will_paginate @category_articles  
= render 'articles/articles', obj: @category_articles
%div{ align: "center" }
  = will_paginate @category_articles