%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{ type: "button", "data-toggle": "collapse", "data-target": "#bs-example-navbar-collapse-1", "aria-expanded": "false"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Blog app", root_path, id: "logo", class: "navbar-brand"
    .collapse.navbar-collapse#bs-example-navbar-collapse-2
      %ul.nav.navbar-nav
        %li
          = link_to "Articles", articles_path
        %li 
          = link_to "Users", users_path
        %li.dropdown
          %a.dropdown-toggle{"data-toggle": "dropdown", role: "button"} 
            Actions
            %span.caret
          %ul.dropdown-menu
            %li
              - if logged_in? 
                = link_to "Create article", new_article_path
        
        %li.dropdown
          %a.dropdown-toggle{"data-toggle": "dropdown", role: "button"}
            Categories
            %span.catet
          %ul.dropdown-menu
            %li
              = link_to "All Categories", categories_path
            %li.divider{ role: "separator" }
            - Category.all.each do |category|
              %li
                = link_to category.name, category_path(category)
            - if logged_in? && current_user.admin?
              %li.divider{ role: "separator" }
              %li
                = link_to "Create new category", new_category_path
      %ul.nav.navbar-nav.navbar-right
        - if logged_in?
          %li.dropdown
            %a.dropdown-toggle{"data-toggle": "dropdown", role: "button"} 
              Your profile
              - if current_user.admin?
                Admin
              %span.caret
            %ul.dropdown-menu
              %li
                = link_to "Edit your profile", edit_user_path(current_user)
                = link_to "View your profile", user_path(current_user)

          %li
            = link_to "Log out", login_path, method: :delete
        - else
          %li 
            = link_to "Log in", login_path
          %li
            = link_to "Sign up", signup_path    

