!!!
%html
  %head
    %title ArticleApp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/navigation'
    .container
      = debug(params) if Rails.env.development?
      = render 'layouts/messages'
      = yield
    = render 'layouts/footer'